.theme-dark {
  /*--h1-color: #ed8796;*/
  --h2-color: #f5a97f;
  --h3-color: #eed49f;
  --h4-color: #a6da95;
  --h5-color: #7dc4e4;
  --h6-color: #c6a0f6;
}

/*
.theme-light {
  --h1-color: yellow;
}
*/